// @use "../../global.variables.scss" as variables;

.editorJSShowParagraph {
  color: red;
}

.editorJSShowHeader2 {
  // color: blue;
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
}

.editorJSShowList {
  color: green;
}

.editorJSShowImage {
  width: 100%;
}

.projectImage {
  width: 100%;
}