.categoriesList {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: 1rem;

    li {
        cursor: pointer;

        &.active {
            border-bottom: 1px solid red;
        }
    }
}

.projectsGrid {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr)); /* max 3 cols */
  gap: 16px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imageWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;   /* or 4/3, 1/1 — pick your shape */
  overflow: hidden;
  border-radius: 8px;     /* optional */
  border: 1px solid red;
}

.projectImg {
  object-fit: cover;
}